{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Tradición familiar Mexicana</span>
              <span class="section-heading-lower">Sobre Nosotros</span>
            </h2>
            <p>Desde hace años, nos embarcamos 3 personas en compartir nuestro amor por el increíble mundo del café y todo lo relacionado con las cafeteras. Continuamente dedicamos 2/3 partes de nuestro tiempo a probar, analizar y publicar los últimos productos de cafeteras del mercado </p>
            <p>La vida es como una taza de café. Todo está en cómo la preparas, pero sobre todo en cómo la tomas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}