{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Déjate sorprender</span>
          <span class="section-heading-lower">¿Sabías qué?</span>
        </h2>
        <p class="mb-3">Tu taza de Café puede lograr un impacto positivo en muchas comunidades cafetaleras en todo el mundo. Nos aseguramos de que su compromiso con la sustentabibilidad sea recompensado, para que puedan construir comunidades fuertes y resistentes, protegiendo el cultivo del café y preservándolo para las futuras generaciones.
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="https://www.youtube.com/channel/UCwqPt0cgSeAMFCY1KQyKHoA">Visítanos</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Compromiso total</span>
            <span class="section-heading-lower">Garantizado</span>
          </h2>
          <p class="mb-0">Nuestras cafeteras producen un café con la temperatura y presión en el punto exacto, dando como resultado un café perfecto que brinda a tus clientes una experiencia de sabor y aroma incomparable</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}